body{
	background: blue;
	gradient: (rgba(0,0,0,0.6), rgba(0,0,0,0.6));
	height: 100vh;
}

.form{
	position: relative;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	width: 100%
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 15px;
}

.form button {
	font-family: sans-serif;
	text-transform: uppercase;
	outline: 0;
	width: 63%;
	border: 0;
	padding: 15px;
	font-size: 15px;
	cursor: pointer;
}